/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    350deg,
    rgb(21, 22, 24) 0%,
    rgb(34, 35, 40) 80%
  );
}

.slds-grid .justify-center {
  justify-content: center;
}
 */
